

/* footer */
@media screen and (min-width: 550px){
    .footer img.logo{
        position: relative;
        float: left;
        top: 10px;
        left: -10px;
        height: 90px;
        width: 90px;
}
}

@media screen and (min-width: 900px){
    .footer img.logo{
        position: relative;
        float: left;
        top: 8px;
        left: 51px;
        height: 90px;
        width: 90px;
}
}

@media screen and (min-width: 1400px){
    .footer img.logo{
        position: relative;
        float: left;
        top: 20px;
        left: 51px;
        height: 90px;
        width: 90px;
}
}

@media screen and (min-width: 900px){
    .footer-center a.sub2{
     position: relative;
        left: -15px;
        text-align: center;
        font-size: 15px;
        text-decoration: none !important;
        text-decoration: none !important;
        color: #f8b505 !important;

}
}

@media screen and (min-width: 1400px){
    .footer-center a.sub2{
     position: relative;
        left: 30px;
        text-align: center;
        font-size: 15px;
        text-decoration: none !important;
        text-decoration: none !important;
        color: #f8b505 !important;

}
}
/* fim do footer */
/* fim do footer */

@media screen and (min-width: 550px){
.box{
    position: relative;
    max-width: 100%;
    max-height: 500px;
    top: 0px;
    left: 0px;
    border: 6px solid #95389e;
    margin: 20px;
}
}

@media screen and (min-width: 900px){
.box{
    position: relative;
    max-width: 90.2%;
    max-height: 500px;
    top: 20px;
    left: 40px;
    border: 6px solid #95389e;
    margin: 20px;
}
}

@media screen and (min-width: 1400px){
.box{
    position: relative;
    max-width: 93%;
    max-height: 900px;
    top: 20px;
    left: 40px;
    border: 6px solid #95389e;
    margin: 20px;
}
}

@media screen and (min-width: 550px){
    .tema{
    position: relative;
    left: 20px;
    top: 40px;
    width: 380px;
    max-width: 100%;
}
}

@media screen and (min-width: 900px){
.tema{
    position: relative;
    left: 20px;
    top: 40px;
    width: 580px;
    max-width: 100%;
}
}

@media screen and (min-width: 1400px){
.tema{
    position: relative;
    left: 90px;
    top: 40px;
    width: 680px;
    max-width: 100%;
}
}

@media screen and (min-width: 550px){
    .ct{
    font-family: 'Righteous', serif;
    color: #f8b505;
    font-size: 70px;
    position: relative;
    top: -140px;
    left: -180px;
    margin: -90px;
    float: right;
    
}
}

@media screen and (min-width: 900px){
.ct{
    font-family: 'Righteous', serif;
    color: #f8b505;
    font-size: 100px;
    position: relative;
    top: -280px;
    left: -230px;
    margin: -90px;
    float: right;

}
}

@media screen and (min-width: 1400px){
.ct{
    font-family: 'Righteous', serif;
    color: #f8b505;
    font-size: 150px;
    position: relative;
    top: -360px;
    left: -380px;
    margin: -90px;
    float: right;
    
}
}

@media screen and (min-width: 550px){
    .lg{
    position: relative;
    width: 200px;
    top: -190px;
    left: -10px;
    float: right;
}
}

@media screen and (min-width: 900px){
.lg{
    position: relative;
    width: 300px;
    top: -300px;
    left: -10px;
    float: right;
}
}

@media screen and (min-width: 1400px){
.lg{
    position: relative;
    width: 300px;
    top: -340px;
    left: -100px;
    float: right;
}
}
